body{
    width: 1600px;
    padding: 100px;
  
}

@media screen and (max-width: 320px) {
    body {
      margin-left: 100px;
      text-align: center;
     padding: 400px;
      font-family: 'Poppins', sans-serif;
      margin: 0; 
    }
  }